In [265]:
import pandas as pd
import numpy as np
from ast import literal_eval
from sklearn.feature_extraction.text import CountVectorizer
from nltk.stem.porter import PorterStemmer
from sklearn.metrics.pairwise import cosine_similarity
import pickle as pk

In [62]:
movie = pd.read_csv('MovieReco2.csv')

In [63]:
a= pd.read_csv('movieMD.csv')
b = pd.read_csv('MDmovie2.csv')

C:\Users\prana\AppData\Local\Temp\ipykernel_4692\2172584221.py:2: DtypeWarning: Columns (0,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,724,725,726,727,728,729,730,731,732,733,734,735,736,737,738,739,740,741,742,743,744,745,746,747,748,749,750,751,752,753,754,755,756,757,758,759,760,761,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799,800,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,825,826,827,828,829,830,831,832,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863,864,865,866,867,868,869,870,871,872,873,874,875,876,877,878,879,880,881,882,883,884,885,886,887,888,889,890,891,892,893,894,895,896,897,898,899,900,901,902,903,904,905,906,907,908,909,910,911,912,913,914,915,916,917,918,919,920,921,922,923,924,925,926,927,928,929,930,931,932,933,934,935,936,937,938,939,940,941,942,943,944,945,946,947,948,949,950,951,952,953,954,955,956,957,958,959,960,961,962,963,964,965,966,967,968,969,970,971,972,973,974,975,976,977,978,979,980,981,982,983,984,985,986,987,988,989,990,991,992,993,994,995,996,997,998,999,1000,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,1011,1012,1013,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023,1024,1025,1026,1027,1028,1029,1030,1031,1032,1033,1034,1035,1036,1037,1038,1039,1040,1041,1042,1043,1044,1045,1046,1047,1048,1049,1050,1051,1052,1053,1054,1055,1056,1057,1058,1059,1060,1061,1062,1063,1064,1065,1066,1067,1068,1069,1070,1071,1072,1073,1074,1075,1076,1077,1078,1079,1080,1081,1082,1083,1084,1085,1086,1087,1088,1089,1090,1091,1092,1093,1094,1095,1096,1097,1098,1099,1100,1101,1102,1103,1104,1105,1106,1107,1108,1109,1110,1111,1112,1113,1114,1115,1116,1117,1118,1119,1120,1121,1122,1123,1124,1125,1126,1127,1128,1129,1130,1131,1132,1133,1134,1135,1136,1137,1138,1139,1140,1141,1142,1143,1144,1145,1146,1147,1148,1149,1150,1151,1152,1153,1154,1155,1156,1157,1158,1159,1160,1161,1162,1163,1164,1165,1166,1167,1168,1169,1170,1171,1172,1173,1174,1175,1176,1177,1178,1179,1180,1181,1182,1183,1184,1185,1186,1187,1188,1189,1190,1191,1192,1193,1194,1195,1196,1197,1198,1199,1200,1201,1202,1203,1204,1205,1206,1207,1208,1209,1210,1211,1212,1213,1214,1215,1216,1217,1218,1219,1220,1221,1222,1223,1224,1225,1226,1227,1228,1229,1230,1231,1232,1233,1234,1235,1236,1237,1238,1239,1240,1241,1242,1243,1244,1245,1246,1247,1248,1249,1250,1251,1252,1253,1254,1255,1256,1257,1258,1259,1260,1261,1262,1263,1264) have mixed types. Specify dtype option on import or set low_memory=False.
  b = pd.read_csv('MDmovie2.csv')

In [64]:
movie.head(1)

,Unnamed: 0,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew
0,0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,...,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

Now, there will be only 3 columns: id, title, tags. The tags column will be created by combining rest of the columns. In genres: add all the genres, in keywords: Add everything, in cast: Add top 3 actors. At the end we will have a big paragraph.

In [65]:
movie = movie[['genres', 'id',  'keywords' , 'title', 'overview', 'popularity']]

print(movie.head(1))

                                              genres     id  \
0  [{"id": 28, "name": "Action"}, {"id": 12, "nam...  19995

                                            keywords   title  \
0  [{"id": 1463, "name": "culture clash"}, {"id":...  Avatar

                                            overview  popularity
0  In the 22nd century, a paraplegic Marine is di...  150.437577

In [66]:
movie.isnull().sum()

genres        0
id            0
keywords      0
title         0
overview      3
popularity    0
dtype: int64

In [67]:
movie.dropna(inplace=True)

In [68]:
movie.isna().sum()

genres        0
id            0
keywords      0
title         0
overview      0
popularity    0
dtype: int64

In [69]:
movie.duplicated().sum()

6

In [70]:
def convert(w):
    q = []
    for i in literal_eval(w):
        q.append(i['name'])

    return q

In [71]:
movie['genres'] = movie['genres'].apply(convert)

In [72]:
movie.head(1)

,genres,id,keywords,title,overview,popularity
0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577

In [73]:
movie['keywords'] = movie['keywords'].apply(convert)

In [74]:
movie.head(1)

,genres,id,keywords,title,overview,popularity
0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"[culture clash, future, space war, space colon...",Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577

In [75]:
def concast(w):
    q = []
    a = 0
    for i in literal_eval(w):
       
        q.append(i['name'])
        a += 1
        if a == 3:
            break;

    return q

In [76]:
movie.head(183)

,genres,id,keywords,title,overview,popularity
0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"[culture clash, future, space war, space colon...",Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577
1,"[Adventure, Fantasy, Action]",285,"[ocean, drug abuse, exotic island, east india ...",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615
2,"[Action, Adventure, Crime]",206647,"[spy, based on novel, secret agent, sequel, mi...",Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788
3,"[Action, Crime, Drama, Thriller]",49026,"[dc comics, crime fighter, terrorist, secret i...",The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950
4,"[Action, Adventure, Science Fiction]",49529,"[based on novel, mars, medallion, space travel...",John Carter,"John Carter is a war-weary, former military ca...",43.926995
...,...,...,...,...,...,...
178,"[Animation, Comedy, Family, Western, Adventure]",44896,"[sheriff, nevada, pet, rango, chameleon, las v...",Rango,"When Rango, a lost family pet, accidentally wi...",29.913530
179,"[Family, Animation, Adventure, Comedy]",270946,"[penguin, madagascar, 3d]",Penguins of Madagascar,"Skipper, Kowalski, Rico and Private join force...",84.366984
180,"[Action, Drama, Mystery, Thriller]",2503,"[paris, corruption, madrid, assassin, based on...",The Bourne Ultimatum,Bourne is brought out of hiding once again by ...,45.381501
181,"[Adventure, Animation, Family, Comedy]",9502,"[china, martial arts, kung fu, mentor, snake, ...",Kung Fu Panda,"When the Valley of Peace is threatened, lazy P...",84.689648
182,"[Science Fiction, Action, Adventure]",102899,"[marvel comic, superhero, based on comic book,...",Ant-Man,Armed with the astonishing ability to shrink i...,120.093610

In [77]:
movie.size

28824

In [78]:
movie.head(1)

,genres,id,keywords,title,overview,popularity
0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"[culture clash, future, space war, space colon...",Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577

In [79]:
movie['overview'] = movie['overview'].apply(lambda x: x.split())

In [80]:
movie.head(1)

,genres,id,keywords,title,overview,popularity
0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"[culture clash, future, space war, space colon...",Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...",150.437577

In [81]:
#Removing spaces between words. eg science fiction ----> sciencefiction. Because model gives tages for each word 
#and a word can have different association which can change its meaning completely. 


movie['genres'] = movie['genres'].apply(lambda x: [i.replace(" ","") for i in x])

In [82]:
movie['keywords'] = movie['keywords'].apply(lambda x: [i.replace(" ", "") for i in x])

In [86]:
movie['overview'] = movie['overview'].apply(lambda x: [i.replace(" ", '') for i in x])

In [87]:
movie.head(1)

,genres,id,keywords,title,overview,popularity
0,"[Action, Adventure, Fantasy, ScienceFiction]",19995,"[cultureclash, future, spacewar, spacecolony, ...",Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...",150.437577

In [88]:
movie['tages'] = movie['genres'] + movie['overview'] + movie['keywords']

In [89]:
movie.head(1)

,genres,id,keywords,title,overview,popularity,tages
0,"[Action, Adventure, Fantasy, ScienceFiction]",19995,"[cultureclash, future, spacewar, spacecolony, ...",Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...",150.437577,"[Action, Adventure, Fantasy, ScienceFiction, I..."

In [90]:
movie_ds = movie[['id', 'title', 'tages']]

In [91]:
movie_ds.head(1)

      id   title                                              tages
0  19995  Avatar  [Action, Adventure, Fantasy, ScienceFiction, I...

In [92]:
#converting list into string
movie_ds['tages'] = movie_ds['tages'].apply(lambda x: " ".join(x))

C:\Users\prana\AppData\Local\Temp\ipykernel_4692\2777028567.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_ds['tages'] = movie_ds['tages'].apply(lambda x: " ".join(x))

In [93]:
movie_ds.head(1)

      id   title                                              tages
0  19995  Avatar  Action Adventure Fantasy ScienceFiction In the...

In [95]:
movie_ds['tages'][1400]

'Crime Drama Thriller An FBI undercover agent infilitrates the mob and finds himself identifying more with the mafia life at the expense of his regular one. undercover colombia mafia mobster dirtycop informant stealingmoney marriagecounselor shavingcream playingcards'

In [102]:
#converting dataset into lowercase
movie_ds['tages'] = movie_ds['tages'].apply(lambda x: x.lower())

C:\Users\prana\AppData\Local\Temp\ipykernel_4692\2347693450.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_ds['tages'] = movie_ds['tages'].apply(lambda x: x.lower())

In [104]:
movie_ds['tages'][1400]

'crime drama thriller an fbi undercover agent infilitrates the mob and finds himself identifying more with the mafia life at the expense of his regular one. undercover colombia mafia mobster dirtycop informant stealingmoney marriagecounselor shavingcream playingcards'

**Vectorizaiton**

In [107]:
ve = CountVectorizer(max_features= 5000, stop_words='english')

In [114]:
vectors = ve.fit_transform(movie_ds['tages']).toarray()

In [115]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [118]:
ve.get_feature_names_out()

array(['000', '007', '10', ..., 'zombies', 'zone', 'zoo'], dtype=object)

**Steamming** Removing words with same meaning but different forms. Eg. Actors, Actor

In [121]:
ps = PorterStemmer()

In [126]:
def stem(w):
    t = []

    for i in w.split():
        t.append(ps.stem(i))
      
    return " ".join(t)  # converting List into string

In [128]:
movie_ds['tages'] = movie_ds['tages'].apply(stem)

C:\Users\prana\AppData\Local\Temp\ipykernel_4692\288693025.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_ds['tages'] = movie_ds['tages'].apply(stem)

**Cosine Distance**: As in Euclidian diatance, we calculate the distance between the tips of the vector, in Cosine distance we calculate the angle between the vector. Lesser the angle, similar the vector. The Euclidean distance method is not reliable while dealing with huge data set. Hence we use Cosine distance.

In [131]:
cosine_similarity(vectors)

array([[1.        , 0.09583148, 0.06277648, ..., 0.02465568, 0.0270666 ,
        0.        ],
       [0.09583148, 1.        , 0.07018624, ..., 0.02756589, 0.        ,
        0.        ],
       [0.06277648, 0.07018624, 1.        , ..., 0.02708645, 0.        ,
        0.        ],
       ...,
       [0.02465568, 0.02756589, 0.02708645, ..., 1.        , 0.07007128,
        0.04732485],
       [0.0270666 , 0.        , 0.        , ..., 0.07007128, 1.        ,
        0.05195243],
       [0.        , 0.        , 0.        , ..., 0.04732485, 0.05195243,
        1.        ]])

In [132]:
cosine_similarity(vectors).shape

(4804, 4804)

In [133]:
simi = cosine_similarity(vectors)

In [225]:
sorted(list(enumerate(simi[1])),reverse=True, key= lambda x:x[1])

[(1, 0.9999999999999997),
 (12, 0.3471825374147068),
 (17, 0.2683725200608466),
 (187, 0.2268713032432575),
 (3571, 0.22677868380553634),
 (216, 0.21821789023599236),
 (199, 0.21170244960998522),
 (75, 0.20365326999063918),
 (848, 0.20185258680731544),
 (981, 0.19504737440137349),
 (349, 0.1889822365046136),
 (987, 0.1889822365046136),
 (1096, 0.1889822365046136),
 (2134, 0.18708286933869706),
 (4008, 0.18333969940564224),
 (818, 0.181848241863327),
 (310, 0.18028869304837586),
 (1334, 0.17857142857142852),
 (61, 0.1781741612749496),
 (109, 0.1781741612749496),
 (340, 0.1770844008302866),
 (3054, 0.17342199390482396),
 (104, 0.16971105832553265),
 (1194, 0.1690308509457033),
 (190, 0.1653594569415369),
 (1727, 0.1649572197684645),
 (24, 0.16448792373994225),
 (129, 0.1636634176769943),
 (2595, 0.16366341767699427),
 (98, 0.16205093088804107),
 (276, 0.16116459280507603),
 (781, 0.15762208124782012),
 (2660, 0.15762208124782012),
 (1664, 0.15724272550828775),
 (138, 0.1553424415003),
 (1077, 0.1543033499620919),
 (208, 0.1515228816828316),
 (1444, 0.1515228816828316),
 (1297, 0.1513068831672006),
 (3703, 0.1513068831672006),
 (94, 0.15118578920369088),
 (403, 0.15018785229652765),
 (2301, 0.14940357616679922),
 (583, 0.1494035761667992),
 (778, 0.1494035761667992),
 (122, 0.14824986333222023),
 (1306, 0.14824986333222023),
 (784, 0.1475703340252388),
 (3154, 0.14638501094227996),
 (412, 0.1458029608799511),
 (7, 0.14580296087995107),
 (3860, 0.1440046082211958),
 (62, 0.14173667737846019),
 (1715, 0.14173667737846019),
 (3287, 0.14173667737846019),
 (30, 0.14085904245475275),
 (66, 0.14085904245475275),
 (46, 0.14037248126871926),
 (232, 0.14037248126871926),
 (942, 0.14037248126871926),
 (1004, 0.14037248126871926),
 (2657, 0.13801311186847082),
 (3007, 0.13801311186847082),
 (5, 0.13782946160499282),
 (3635, 0.13750477455423168),
 (171, 0.13576884666042613),
 (2168, 0.13576884666042613),
 (3406, 0.1349873117890097),
 (627, 0.1336306209562122),
 (1262, 0.1336306209562122),
 (3729, 0.1336306209562122),
 (71, 0.13363062095621217),
 (508, 0.13363062095621217),
 (14, 0.1315903389919538),
 (26, 0.1315903389919538),
 (329, 0.1315903389919538),
 (472, 0.1315903389919538),
 (2005, 0.13103560459023977),
 (773, 0.13006649542861798),
 (3218, 0.13006649542861798),
 (3720, 0.13006649542861798),
 (4441, 0.13006649542861798),
 (143, 0.12979353291279128),
 (2132, 0.12979353291279128),
 (330, 0.12964074471043285),
 (1195, 0.12964074471043285),
 (2685, 0.12964074471043285),
 (2905, 0.12964074471043285),
 (106, 0.12858612496840993),
 (2105, 0.12858612496840993),
 (115, 0.12777531299998796),
 (471, 0.12777531299998796),
 (1020, 0.12777531299998796),
 (1653, 0.12777531299998796),
 (3497, 0.12777531299998796),
 (33, 0.1267731382092775),
 (461, 0.1267731382092775),
 (2520, 0.1267731382092775),
 (3969, 0.1267731382092775),
 (126, 0.1259881576697424),
 (649, 0.1259881576697424),
 (1367, 0.1259881576697424),
 (2840, 0.1259881576697424),
 (1878, 0.1251565435804397),
 (334, 0.12427395320024),
 (2819, 0.12427395320024),
 (193, 0.12407291674636627),
 (389, 0.12371791482634838),
 (3780, 0.12371791482634838),
 (3825, 0.12371791482634838),
 (4201, 0.12371791482634838),
 (271, 0.12262786789699316),
 (2029, 0.12262786789699316),
 (3376, 0.12227087189088336),
 (25, 0.12227087189088334),
 (19, 0.12198750911856662),
 (168, 0.12104550653376048),
 (1037, 0.12104550653376048),
 (3700, 0.12104550653376048),
 (68, 0.12087344460380703),
 (167, 0.12087344460380703),
 (4214, 0.12087344460380703),
 (85, 0.12019246203225058),
 (4046, 0.12000384018432982),
 (79, 0.11952286093343936),
 (543, 0.11952286093343936),
 (1623, 0.11952286093343936),
 (3354, 0.11952286093343936),
 (38, 0.11904761904761903),
 (35, 0.11821656093586509),
 (263, 0.11821656093586509),
 (325, 0.11821656093586509),
 (359, 0.11821656093586509),
 (483, 0.11821656093586509),
 (581, 0.11821656093586509),
 (715, 0.11821656093586509),
 (1027, 0.11821656093586509),
 (191, 0.11805626722019105),
 (587, 0.11805626722019105),
 (420, 0.11664236870396086),
 (788, 0.11664236870396086),
 (813, 0.11664236870396086),
 (962, 0.11664236870396086),
 (1786, 0.11664236870396086),
 (2035, 0.11664236870396086),
 (84, 0.11631052629980884),
 (292, 0.11572751247156893),
 (511, 0.11572751247156893),
 (711, 0.11572751247156893),
 (1047, 0.11572751247156893),
 (1474, 0.11572751247156893),
 (1884, 0.11572751247156893),
 (2495, 0.11572751247156893),
 (4621, 0.11572751247156893),
 (827, 0.11527808354084698),
 (3787, 0.11527808354084698),
 (1276, 0.11396057645963795),
 (2998, 0.11396057645963795),
 (3370, 0.11396057645963795),
 (59, 0.11375393879832252),
 (23, 0.11338934190276817),
 (31, 0.11338934190276817),
 (1440, 0.11338934190276817),
 (1658, 0.11338934190276817),
 (1976, 0.11338934190276817),
 (2650, 0.11338934190276817),
 (3966, 0.11338934190276817),
 (618, 0.1126872339638022),
 (1831, 0.1126872339638022),
 (215, 0.11145564251507056),
 (1938, 0.11145564251507056),
 (90, 0.11118739749916517),
 (91, 0.11118739749916517),
 (392, 0.11118739749916517),
 (664, 0.11118739749916517),
 (691, 0.11118739749916517),
 (1686, 0.11118739749916517),
 (2395, 0.11118739749916517),
 (3833, 0.11118739749916517),
 (127, 0.11059348880095221),
 (342, 0.11059348880095221),
 (486, 0.11059348880095221),
 (645, 0.11026356928399425),
 (169, 0.1091089451179962),
 (262, 0.1091089451179962),
 (1218, 0.1091089451179962),
 (1272, 0.1091089451179962),
 (2487, 0.1091089451179962),
 (2879, 0.1091089451179962),
 (4403, 0.1091089451179962),
 (4500, 0.1091089451179962),
 (96, 0.10910894511799618),
 (220, 0.10910894511799618),
 (242, 0.10910894511799618),
 (1147, 0.10910894511799618),
 (1261, 0.10910894511799618),
 (1700, 0.10910894511799618),
 (1796, 0.10910894511799618),
 (3600, 0.10910894511799618),
 (569, 0.10798984943120776),
 (3332, 0.10798984943120776),
 (50, 0.10714285714285712),
 (121, 0.10714285714285712),
 (164, 0.10714285714285712),
 (315, 0.10714285714285712),
 (745, 0.10714285714285712),
 (931, 0.10714285714285712),
 (960, 0.10714285714285712),
 (1142, 0.10714285714285712),
 (3997, 0.10714285714285712),
 (4779, 0.10714285714285712),
 (596, 0.10690449676496974),
 (1848, 0.10690449676496974),
 (3629, 0.10690449676496974),
 (1396, 0.10585122480499261),
 (1452, 0.10585122480499261),
 (294, 0.10527936095153945),
 (2250, 0.10527936095153945),
 (4558, 0.10527936095153945),
 (381, 0.10482848367219183),
 (892, 0.10482848367219183),
 (1673, 0.10482848367219183),
 (3157, 0.10482848367219183),
 (4346, 0.10482848367219183),
 (234, 0.10383482633023301),
 (2403, 0.10383482633023301),
 (10, 0.10350983390135311),
 (72, 0.10350983390135311),
 (260, 0.10350983390135311),
 (544, 0.10350983390135311),
 (972, 0.10350983390135311),
 (973, 0.10350983390135311),
 (1196, 0.10350983390135311),
 (1269, 0.10350983390135311),
 (2028, 0.10350983390135311),
 (2075, 0.10350983390135311),
 (3033, 0.10350983390135311),
 (48, 0.10286889997472794),
 (222, 0.10192943828752511),
 (3945, 0.10192943828752511),
 (88, 0.1018266349953196),
 (142, 0.1018266349953196),
 (859, 0.1018266349953196),
 (2107, 0.1018266349953196),
 (4691, 0.1018266349953196),
 (1675, 0.10130511230913847),
 (850, 0.10101525445522107),
 (913, 0.10101525445522107),
 (1575, 0.10101525445522107),
 (1862, 0.10101525445522107),
 (1979, 0.10101525445522107),
 (2273, 0.10101525445522107),
 (2479, 0.10101525445522107),
 (4562, 0.10101525445522107),
 (332, 0.10022296571715913),
 (457, 0.10022296571715913),
 (547, 0.10022296571715913),
 (1649, 0.10022296571715913),
 (1746, 0.10022296571715913),
 (1792, 0.10022296571715913),
 (2210, 0.10022296571715913),
 (3090, 0.10022296571715913),
 (103, 0.09925833339709302),
 (746, 0.09869275424396534),
 (786, 0.09869275424396534),
 (792, 0.09869275424396534),
 (2072, 0.09869275424396534),
 (2582, 0.09869275424396534),
 (3427, 0.09869275424396534),
 (4314, 0.09869275424396534),
 (47, 0.09841356626102458),
 (150, 0.09841356626102458),
 (572, 0.09841356626102458),
 (607, 0.09841356626102458),
 (139, 0.0975900072948533),
 (866, 0.0975900072948533),
 (1139, 0.0975900072948533),
 (2322, 0.0975900072948533),
 (2547, 0.0975900072948533),
 (2557, 0.0975900072948533),
 (2673, 0.0975900072948533),
 (312, 0.09723055853282464),
 (369, 0.09723055853282464),
 (514, 0.09723055853282464),
 (697, 0.09723055853282464),
 (1719, 0.09723055853282464),
 (1749, 0.09723055853282464),
 (2148, 0.09723055853282464),
 (3339, 0.09723055853282464),
 (3379, 0.09723055853282464),
 (939, 0.09600307214746386),
 (1609, 0.09600307214746386),
 (2903, 0.09600307214746386),
 (3227, 0.09600307214746386),
 (0, 0.09583148474999097),
 (16, 0.09583148474999097),
 (57, 0.09583148474999097),
 (131, 0.09583148474999097),
 (322, 0.09583148474999097),
 (411, 0.09583148474999097),
 (643, 0.09583148474999097),
 (731, 0.09583148474999097),
 (2127, 0.09583148474999097),
 (2449, 0.09583148474999097),
 (3234, 0.09583148474999097),
 (3319, 0.09583148474999097),
 (3430, 0.09523809523809522),
 (52, 0.0944911182523068),
 (151, 0.0944911182523068),
 (205, 0.0944911182523068),
 (241, 0.0944911182523068),
 (738, 0.0944911182523068),
 (808, 0.0944911182523068),
 (959, 0.0944911182523068),
 (1061, 0.0944911182523068),
 (1174, 0.0944911182523068),
 (1323, 0.0944911182523068),
 (1426, 0.0944911182523068),
 (1945, 0.0944911182523068),
 (1983, 0.0944911182523068),
 (2013, 0.0944911182523068),
 (2180, 0.0944911182523068),
 (2682, 0.0944911182523068),
 (3377, 0.0944911182523068),
 (3388, 0.0944911182523068),
 (3526, 0.0944911182523068),
 (3841, 0.0944911182523068),
 (3850, 0.0944911182523068),
 (4566, 0.0944911182523068),
 (4639, 0.0944911182523068),
 (503, 0.09320546490018),
 (1009, 0.09320546490018),
 (1535, 0.09320546490018),
 (2972, 0.09320546490018),
 (3346, 0.09320546490018),
 (3469, 0.09320546490018),
 (3621, 0.09320546490018),
 (182, 0.09197090092274487),
 (1970, 0.09197090092274487),
 (3151, 0.09197090092274487),
 (3908, 0.09197090092274487),
 (4053, 0.09197090092274487),
 (435, 0.09166984970282112),
 (796, 0.09166984970282112),
 (800, 0.09166984970282112),
 (1421, 0.09166984970282112),
 (1621, 0.09166984970282112),
 (1769, 0.09166984970282112),
 (3071, 0.09166984970282112),
 (4059, 0.09166984970282112),
 (4129, 0.09166984970282112),
 (4388, 0.09166984970282112),
 (755, 0.09100315103865801),
 (1204, 0.09078412990032037),
 (1451, 0.09078412990032037),
 (2351, 0.09078412990032037),
 (2435, 0.09078412990032035),
 (36, 0.08964214570007953),
 (1369, 0.08964214570007953),
 (1537, 0.08964214570007953),
 (1565, 0.08964214570007953),
 (1592, 0.08964214570007953),
 (2344, 0.08964214570007953),
 (3254, 0.08964214570007953),
 (3665, 0.08964214570007953),
 (2353, 0.08964214570007951),
 (624, 0.0890870806374748),
 (858, 0.0890870806374748),
 (1721, 0.0890870806374748),
 (2296, 0.0890870806374748),
 (2368, 0.0890870806374748),
 (3831, 0.0890870806374748),
 (3992, 0.0890870806374748),
 (4054, 0.0890870806374748),
 (4133, 0.0890870806374748),
 (4312, 0.0890870806374748),
 (4414, 0.0890870806374748),
 (4609, 0.0890870806374748),
 (2667, 0.08888976681684722),
 (270, 0.0885422004151433),
 (419, 0.0885422004151433),
 (509, 0.0885422004151433),
 (1109, 0.0885422004151433),
 (1233, 0.0885422004151433),
 (1632, 0.0885422004151433),
 (1916, 0.0885422004151433),
 (2827, 0.0885422004151433),
 (3474, 0.0885422004151433),
 (4335, 0.0885422004151433),
 (4380, 0.0885422004151433),
 (1477, 0.08847479104076177),
 (81, 0.08787495503274935),
 (9, 0.08748177652797065),
 (870, 0.08748177652797065),
 (1325, 0.08748177652797065),
 (1617, 0.08748177652797065),
 (2362, 0.08748177652797065),
 (4085, 0.08748177652797065),
 (549, 0.08748177652797064),
 (3697, 0.08748177652797064),
 (206, 0.08728715609439693),
 (20, 0.08671099695241198),
 (162, 0.08671099695241198),
 (172, 0.08671099695241198),
 (209, 0.08671099695241198),
 (336, 0.08671099695241198),
 (487, 0.08671099695241198),
 (971, 0.08671099695241198),
 (1373, 0.08671099695241198),
 (4023, 0.08671099695241198),
 (158, 0.08645856265563524),
 (4, 0.08645856265563523),
 (228, 0.08645856265563523),
 (734, 0.08645856265563523),
 (1281, 0.08645856265563523),
 (1299, 0.08645856265563523),
 (1966, 0.08645856265563523),
 (2700, 0.08645856265563523),
 (240, 0.08547043234472845),
 (243, 0.08547043234472845),
 (665, 0.08547043234472845),
 (1038, 0.08547043234472845),
 (1202, 0.08547043234472845),
 (1445, 0.08547043234472845),
 (1871, 0.08547043234472845),
 (1883, 0.08547043234472845),
 (2712, 0.08547043234472845),
 (2915, 0.08547043234472845),
 (41, 0.08451542547285165),
 (56, 0.08451542547285165),
 (105, 0.08451542547285165),
 (157, 0.08451542547285165),
 (267, 0.08451542547285165),
 (490, 0.08451542547285165),
 (495, 0.08451542547285165),
 (566, 0.08451542547285165),
 (935, 0.08451542547285165),
 (1085, 0.08451542547285165),
 (1117, 0.08451542547285165),
 (1146, 0.08451542547285165),
 (1280, 0.08451542547285165),
 (1292, 0.08451542547285165),
 (1410, 0.08451542547285165),
 (1488, 0.08451542547285165),
 (1512, 0.08451542547285165),
 (1524, 0.08451542547285165),
 (1558, 0.08451542547285165),
 (1701, 0.08451542547285165),
 (1770, 0.08451542547285165),
 (2125, 0.08451542547285165),
 (2561, 0.08451542547285165),
 (3905, 0.08451542547285165),
 (3970, 0.08451542547285165),
 (4401, 0.08451542547285165),
 (55, 0.08399210511316159),
 (1634, 0.08399210511316159),
 (97, 0.08359173188630292),
 (1340, 0.08359173188630292),
 (2056, 0.08359173188630292),
 (2751, 0.08359173188630292),
 (2447, 0.0834783871129682),
 (83, 0.08269767696299568),
 (197, 0.08269767696299568),
 (1093, 0.08269767696299568),
 (1148, 0.08269767696299568),
 (1977, 0.08269767696299568),
 (3098, 0.08269767696299568),
 (4178, 0.08269767696299568),
 (159, 0.08247860988423225),
 (233, 0.08247860988423225),
 (237, 0.08247860988423225),
 (249, 0.08247860988423225),
 (505, 0.08247860988423225),
 (604, 0.08247860988423225),
 (660, 0.08247860988423225),
 (1242, 0.08247860988423225),
 (2761, 0.08247860988423225),
 (3411, 0.08247860988423225),
 (4218, 0.08247860988423225),
 (4701, 0.08247860988423225),
 (136, 0.08183170883849715),
 (1191, 0.08183170883849715),
 (1924, 0.08183170883849715),
 (2519, 0.08183170883849715),
 (2049, 0.08151391459392224),
 (304, 0.08104408984731078),
 (22, 0.08058229640253801),
 (148, 0.08058229640253801),
 (466, 0.08058229640253801),
 (537, 0.08058229640253801),
 (668, 0.08058229640253801),
 (695, 0.08058229640253801),
 (716, 0.08058229640253801),
 (769, 0.08058229640253801),
 (903, 0.08058229640253801),
 (1327, 0.08058229640253801),
 (1589, 0.08058229640253801),
 (1805, 0.08058229640253801),
 (1942, 0.08058229640253801),
 (2530, 0.08058229640253801),
 (2578, 0.08058229640253801),
 (2760, 0.08058229640253801),
 (2772, 0.08058229640253801),
 (4190, 0.08058229640253801),
 (4288, 0.08058229640253801),
 (58, 0.08017837257372731),
 (612, 0.08017837257372731),
 (2887, 0.08017837257372731),
 (386, 0.07938841860374446),
 (2212, 0.07938841860374446),
 (2791, 0.07938841860374446),
 (134, 0.07881104062391006),
 (219, 0.07881104062391006),
 (290, 0.07881104062391006),
 (400, 0.07881104062391006),
 (498, 0.07881104062391006),
 (530, 0.07881104062391006),
 (744, 0.07881104062391006),
 (1076, 0.07881104062391006),
 (1137, 0.07881104062391006),
 (1158, 0.07881104062391006),
 (1216, 0.07881104062391006),
 (1605, 0.07881104062391006),
 (1860, 0.07881104062391006),
 (2308, 0.07881104062391006),
 (2531, 0.07881104062391006),
 (2619, 0.07881104062391006),
 (2931, 0.07881104062391006),
 (3132, 0.07881104062391006),
 (3373, 0.07881104062391006),
 (3620, 0.07881104062391006),
 (4092, 0.07881104062391006),
 (4318, 0.07881104062391006),
 (507, 0.07862136275414387),
 (4341, 0.07862136275414387),
 (32, 0.07787611974767476),
 (92, 0.07787611974767476),
 (107, 0.07787611974767476),
 (475, 0.07787611974767476),
 (836, 0.07787611974767476),
 (1283, 0.07787611974767476),
 (1692, 0.07787611974767476),
 (2999, 0.07787611974767476),
 (15, 0.07715167498104596),
 (45, 0.07715167498104596),
 (132, 0.07715167498104596),
 (217, 0.07715167498104596),
 (273, 0.07715167498104596),
 (368, 0.07715167498104596),
 (467, 0.07715167498104596),
 (546, 0.07715167498104596),
 (676, 0.07715167498104596),
 (694, 0.07715167498104596),
 (777, 0.07715167498104596),
 (812, 0.07715167498104596),
 (920, 0.07715167498104596),
 (1019, 0.07715167498104596),
 (1301, 0.07715167498104596),
 (1586, 0.07715167498104596),
 (1738, 0.07715167498104596),
 (1813, 0.07715167498104596),
 (1843, 0.07715167498104596),
 (2504, 0.07715167498104596),
 (2583, 0.07715167498104596),
 (2740, 0.07715167498104596),
 (2956, 0.07715167498104596),
 (3420, 0.07715167498104596),
 (3673, 0.07715167498104596),
 (3786, 0.07715167498104596),
 (3840, 0.07715167498104596),
 (4088, 0.07715167498104596),
 (4355, 0.07715167498104596),
 (4483, 0.07715167498104596),
 (3634, 0.07715167498104594),
 (124, 0.07644707871564384),
 (286, 0.07644707871564384),
 (654, 0.07644707871564384),
 (969, 0.07644707871564384),
 (2597, 0.07644707871564384),
 (2959, 0.07644707871564384),
 (1429, 0.07636035483212124),
 (374, 0.0757614408414158),
 (1571, 0.0757614408414158),
 (1857, 0.0757614408414158),
 (2438, 0.0757614408414158),
 (2803, 0.0757614408414158),
 (195, 0.07559289460184544),
 (384, 0.07559289460184544),
 (791, 0.07559289460184544),
 (951, 0.07559289460184544),
 (1079, 0.07559289460184544),
 (1259, 0.07559289460184544),
 (1453, 0.07559289460184544),
 (1756, 0.07559289460184544),
 (2251, 0.07559289460184544),
 (2947, 0.07559289460184544),
 (3355, 0.07559289460184544),
 (3760, 0.07559289460184544),
 (3764, 0.07559289460184544),
 (3801, 0.07559289460184544),
 (4097, 0.07559289460184544),
 (27, 0.07509392614826382),
 (501, 0.07509392614826382),
 (2023, 0.07509392614826382),
 (2255, 0.07509392614826382),
 (730, 0.07448389227238586),
 (149, 0.07444375004781977),
 (246, 0.07444375004781977),
 (933, 0.07444375004781977),
 (152, 0.07412493166611012),
 (227, 0.07412493166611012),
 (259, 0.07412493166611012),
 (309, 0.07412493166611012),
 (823, 0.07412493166611012),
 (869, 0.07412493166611012),
 (922, 0.07412493166611012),
 (1092, 0.07412493166611012),
 (1275, 0.07412493166611012),
 (1313, 0.07412493166611012),
 (1362, 0.07412493166611012),
 (1363, 0.07412493166611012),
 (1480, 0.07412493166611012),
 (1941, 0.07412493166611012),
 (1988, 0.07412493166611012),
 (2119, 0.07412493166611012),
 (2377, 0.07412493166611012),
 (3092, 0.07412493166611012),
 (3548, 0.07412493166611012),
 (3610, 0.07412493166611012),
 (3722, 0.07412493166611012),
 (3901, 0.07412493166611012),
 (4194, 0.07412493166611012),
 (4353, 0.07412493166611012),
 (4576, 0.07412493166611012),
 (2728, 0.07381017469576844),
 (2970, 0.07381017469576844),
 (1030, 0.07319250547113998),
 (1529, 0.07319250547113998),
 (1898, 0.07319250547113998),
 (3440, 0.07319250547113998),
 (8, 0.07273929674533079),
 (147, 0.07273929674533079),
 (341, 0.07273929674533079),
 (348, 0.07273929674533079),
 (678, 0.07273929674533079),
 (764, 0.07273929674533079),
 (989, 0.07273929674533079),
 (1274, 0.07273929674533079),
 (1404, 0.07273929674533079),
 (1408, 0.07273929674533079),
 (2813, 0.07273929674533079),
 (3361, 0.07273929674533079),
 (3536, 0.07273929674533079),
 (3779, 0.07273929674533079),
 (305, 0.07259008777437409),
 (661, 0.07259008777437409),
 (1361, 0.07259008777437409),
 (1103, 0.0720023041105979),
 (2548, 0.0720023041105979),
 (21, 0.07142857142857141),
 (112, 0.07142857142857141),
 (176, 0.07142857142857141),
 (226, 0.07142857142857141),
 (356, 0.07142857142857141),
 (577, 0.07142857142857141),
 (980, 0.07142857142857141),
 (1431, 0.07142857142857141),
 (1513, 0.07142857142857141),
 (1688, 0.07142857142857141),
 (1833, 0.07142857142857141),
 (1850, 0.07142857142857141),
 (4075, 0.07142857142857141),
 (4146, 0.07142857142857141),
 (4671, 0.07142857142857141),
 (4717, 0.07142857142857141),
 (3257, 0.07086833868923009),
 (3723, 0.07032108464077431),
 (2, 0.07018624063435963),
 (28, 0.07018624063435963),
 (117, 0.07018624063435963),
 (198, 0.07018624063435963),
 (203, 0.07018624063435963),
 (468, 0.07018624063435963),
 (830, 0.07018624063435963),

In [260]:
def recommend(w):
    mi = movie_ds[movie_ds['title'] == w].index[0]
    sr = sorted(enumerate(simi[mi]),reverse=True,key= lambda x:x[1])[1:6]
    
    g = []
    for i in sr:
        g.append(i[0])

    for i in g:
        print(movie_ds['title'][i])

In [245]:
arr = np.array([34, 65, 22, 75, 78, 10, 32, 54])

for i in range(len(arr)):
    for j in range(len(arr)):
        t = 0
        if arr[i] < arr[j]:
            t = arr[j]
            arr[j] = arr[i]
            arr[i] = t

print(arr)    


p = sorted(list(enumerate(arr)),key = lambda x:x[1])
print(p)

[10 22 32 34 54 65 75 78]
[(0, 10), (1, 22), (2, 32), (3, 34), (4, 54), (5, 65), (6, 75), (7, 78)]

In [184]:
simi[3]

array([0.040996  , 0.02291746, 0.04503773, ..., 0.05306619, 0.05825517,
       0.05901671])

In [264]:
recommend('Batman Begins')

The Dark Knight
Batman
Batman
Batman & Robin
The Dark Knight Rises

In [232]:
movie_ds['title'][10:100]

10                              Superman Returns
11                             Quantum of Solace
12    Pirates of the Caribbean: Dead Man's Chest
13                               The Lone Ranger
14                                  Man of Steel
                         ...
95                                  Interstellar
96                                     Inception
97                                 Shin Godzilla
98             The Hobbit: An Unexpected Journey
99                      The Fast and the Furious
Name: title, Length: 90, dtype: object

In [258]:
movie_ds['title'][101]

'X-Men: First Class'

In [268]:
pk.dump(movie_ds.to_dict(),open('chitrapat_dakhva.pkl', 'wb'))

In [269]:
pk.dump(simi,open('simimovie.pkl','wb'))